[submodule "DashboardRaspberryBackend"]
	path = DashboardRaspberryBackend
	url = https://github.com/IMKolganov/DashboardRaspberryBackend
[submodule "dashboard-raspberry-react"]
	path = dashboard-raspberry-react
	url = https://github.com/IMKolganov/dashboard-raspberry-react
[submodule "MSGetTemperatureAndHumidify"]
	path = MSGetTemperatureAndHumidify
	url = https://github.com/IMKolganov/MSGetTemperatureAndHumidify
[submodule "MSGetSoilMoisture"]
	path = MSGetSoilMoisture
	url = https://github.com/IMKolganov/MSGetSoilMoisture
[submodule "MSVideoStreaming"]
	path = MSVideoStreaming
	url = https://github.com/IMKolganov/MSVideoStreaming
[submodule "SmartGardenESP32"]
	path = SmartGardenESP32
	url = https://github.com/IMKolganov/SmartGardenESP32
[submodule "MSMicrocontrollerManager"]
	path = MSMicrocontrollerManager
	url = https://github.com/IMKolganov/MSMicrocontrollerManager
[submodule "MSPumpControl"]
	path = MSPumpControl
	url = https://github.com/IMKolganov/MSPumpControl
